@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.padding {
  padding: 30px;
}
.padding--top {
  padding-top: 30px;
}
.padding--left {
  padding-left: 30px;
}
.padding--right {
  padding-right: 30px;
}
.padding--bottom {
  padding-bottom: 30px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
body {
  overflow: hidden;
}
a {
  text-decoration: none;
}
main {
  height: 100vh;
}
md-sidebar {
  width: 240px;
  height: 100vh;
  background: #efefef;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  background: #f5f5f5;
}
md-content {
  margin-left: 240px;
  background: #bdbdbd;
  position: relative;
}
.notification {
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  line-height: 26px;
  cursor: pointer;
}
.notification--color-1 {
  background: #f9b538;
  color: #b98628;
}
.notification--color-2 {
  background: #f93865;
  color: #ab2b49;
}
.notification--color-3 {
  background: #4dea93;
  color: #35a266;
}
.notification--circle {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 16px;
}
.notification--square {
  padding: 0 3px;
  border-radius: 4px;
  font-size: 12px;
}
.text--left,
.nav--side ul li .md-button {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.logo {
  width: 80%;
  padding: 17px 10%;
  bottom: 0px;
}
.nav--top {
  background: #e3e3e3;
  color: #9b9b9b;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.nav--bottom {
  position: absolute;
  width: 100%;
  left: 0;
  background: #efefef;
  bottom: -167px;
  transition: 0.3s;
}
.nav--bottom .nav--side {
  margin-top: 0;
}
.nav--bottom:hover {
  bottom: 0;
  transition: 0.3s;
}
.nav--side {
  margin-top: -5px;
  width: 100%;
}
.nav--side ul {
  padding: 0;
  margin: 0;
}
.nav--side ul li {
  position: relative;
  list-style: none;
}
.nav--side ul li .md-button {
  font-size: 16px;
  color: #606060;
  border-radius: 0;
  margin: 0;
  width: 100%;
  text-transform: initial;
  padding: 10px 20px;
}
.nav--side ul li .md-button i {
  vertical-align: middle;
  margin-right: 15px;
  color: #b3b3b3;
  transition: 0.3s;
}
.nav--side ul li .md-button:hover i {
  margin-left: 15px;
}
.nav--side ul li .md-button.active {
  background: rgba(158,158,158,0.2);
}
.nav--side ul li .md-button.active i {
  margin-left: 15px;
}
.search {
  margin: 0;
  padding: 9px 0;
}
.content {
  margin-top: 55px;
  overflow-y: scroll;
}
.title--main {
  margin: 0;
  padding: 6px 0;
}
.portal {
  width: 100%;
  margin: -4px 0 0;
}
.user {
  border-top: 1px solid #e3e3e3;
  padding: 10px 20px;
}
.user__image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.user__image__photo {
  width: 100%;
}
.user__image__hover {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 17px;
  color: #fff;
  display: table;
  opacity: 0;
  transition: 0.3s;
}
.user__image__hover:hover {
  opacity: 1;
  transition: 0.3s;
}
.user__image__hover .material-icons {
  display: table-cell;
  vertical-align: middle;
}
.user__info {
  margin-left: 10px;
  margin-top: 3px;
  background: #efefef;
  color: #777;
}
.user__info__name {
  font-size: 18px;
  font-weight: bold;
}
.user__info__extra {
  font-size: 14px;
}
