<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="dist/angular-material/angular-material.min.css" rel="stylesheet" type="text/css">
    <link href="dist/animate.css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body ng-cloak ng-controller="main">
    <main layout="column">
      <div layout="row" flex>
        <md-sidebar><img src="img/logo1.png" class="logo"><img src="img/cover1.jpg" class="portal">
          <nav flex class="nav--side">
            <ul>
              <li ng-mouseenter="hoverNotification1 = true" ng-mouseleave="hoverNotification1 = false">
                <md-button ng-click="nav=1" ng-class="{'active':nav==1}"><i class="material-icons">&#xE922;</i><span>Estatísticas</span></md-button>
                <div ng-class="{rubberBand: hoverNotification1}" class="notification notification--circle notification--color-1 animated">3</div>
              </li>
              <li ng-mouseenter="hoverNotification2 = true" ng-mouseleave="hoverNotification2 = false">
                <md-button ng-click="nav=2" ng-class="{'active':nav==2}"><i class="material-icons">&#xE8D2;</i><span>Conteúdo</span></md-button>
                <div ng-class="{rubberBand: hoverNotification2}" class="notification notification--circle notification--color-2 animated">1</div>
              </li>
              <li ng-mouseenter="hoverNotification3 = true" ng-mouseleave="hoverNotification3 = false">
                <md-button ng-click="nav=3" ng-class="{'active':nav==3}"><i class="material-icons">&#xE8F1;</i><span>Layout</span></md-button>
                <div ng-class="{rubberBand: hoverNotification3}" class="notification notification--square notification--color-3 animated">atualizado</div>
              </li>
              <li ng-mouseenter="hoverNotification4 = true" ng-mouseleave="hoverNotification4 = false">
                <md-button ng-click="nav=4" ng-class="{'active':nav==4}"><i class="material-icons">&#xE8B8;</i><span>Configurações</span></md-button>
                <div ng-class="{rubberBand: hoverNotification4}" class="notification notification--square notification--color-2 animated">novo</div>
              </li>
            </ul>
          </nav>
          <div class="nav--bottom">
            <div layout="row" class="user">
              <div class="user__image">
                <div class="user__image__hover">
                  <div ng-class="{slideInDown: hoverPhoto}" ng-mouseenter="hoverPhoto = true" ng-mouseleave="hoverPhoto = false" class="material-icons animated">&#xE439;</div>
                </div><img src="img/user.jpg" class="user__image__photo">
              </div>
              <div flex class="user__info">
                <div class="user__info__name">Allan Ferreira</div>
                <div class="user__info__extra">Administrador</div>
              </div>
            </div>
            <nav flex layout="column" class="nav--side">
              <ul>
                <li>
                  <md-button ng-click="nav=5" ng-class="{'active':nav==5}"><i class="material-icons">&#xE254;</i><span>Editar Perfil</span></md-button>
                </li>
                <li>
                  <md-button ng-click="nav=6" ng-class="{'active':nav==6}"><i class="material-icons">&#xE868;</i><span>Reportar Bug</span></md-button>
                </li>
                <li>
                  <md-button><i class="material-icons">&#xE879;</i><span>Sair</span></md-button>
                </li>
              </ul>
            </nav>
          </div>
        </md-sidebar>
        <md-content flex layout="column">
          <div flex ng-show="nav==1" class="view">
            <div class="nav--top">
              <div layout="row" class="padding--left padding--right">
                <h1 flex="90" class="title--main">Estatísticas</h1>
                <!--md-input-container.md-block.search(flex, md-no-float)input(placeholder="busca")
                -->
              </div>
            </div>
            <div class="content">
              <div class="padding">a</div>
              <!--md-tabs(md-dynamic-height, md-border-bottom)-->
              <md-tab label="one">
                <md-content>
                  <h2>Tab one</h2>
                  <div id="linechart_material"></div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </md-content>
              </md-tab>
              <md-tab label="two">
                <md-content class="md-padding">
                  <h2>Tab two</h2>
                  <p>2</p>
                </md-content>
              </md-tab>
              <md-tab label="three">
                <md-content class="md-padding">
                  <h2>Tab three</h2>
                  <p>3</p>
                </md-content>
              </md-tab>
            </div>
          </div>
          <div flex ng-show="nav==2" class="view">
            <div class="nav--top">
              <div class="padding--left">
                <h1 flex class="title--main">Conteúdo</h1>
              </div>
            </div>
            <div class="content">
              <div class="padding">b</div>
            </div>
          </div>
          <div flex ng-show="nav==3" class="view">
            <div class="nav--top">
              <div class="padding--left">
                <h1 flex class="title--main">Layout</h1>
              </div>
            </div>
            <div class="content">
              <div class="padding">c</div>
            </div>
          </div>
          <div flex ng-show="nav==4" class="view">
            <div class="nav--top">
              <div class="padding--left">
                <h1 flex class="title--main">Configurações</h1>
              </div>
            </div>
            <div class="content">
              <div class="padding">d</div>
            </div>
          </div>
          <div flex ng-show="nav==5" class="view">
            <div class="nav--top">
              <div class="padding--left">
                <h1 flex class="title--main">Editar Perfil</h1>
              </div>
            </div>
            <div class="content">
              <div class="padding">e</div>
            </div>
          </div>
          <div flex ng-show="nav==6" class="view">
            <div class="nav--top">
              <div class="padding--left">
                <h1 flex class="title--main">Reportar Bug</h1>
              </div>
            </div>
            <div class="content">
              <div class="padding">f</div>
            </div>
          </div>
        </md-content>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="dist/angular/angular.min.js"></script>
    <script src="dist/angular-animate/angular-animate.min.js"></script>
    <script src="dist/angular-aria/angular-aria.min.js"></script>
    <script src="dist/angular-messages/angular-messages.min.js"></script>
    <script src="dist/angular-route/angular-route.min.js"></script>
    <script src="dist/angular-material/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>