*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-family 'Open Sans', sans-serif
	font-weight 100
body
	overflow hidden
a
	text-decoration none
main
	height 100vh
md-sidebar
	width $sidebarWidth
	height 100vh
	background $sidebarColor
	position fixed
	z-index 0
	overflow hidden
	background #f5f5f5
md-content
	margin-left $sidebarWidth
	background #bdbdbd
	position relative