.notification
	font-weight bold
	position absolute
	right 10px
	top 50%
	margin-top -13px
	vertical-align middle
	text-align center
	display table-cell
	line-height 26px
	cursor pointer
	&--color
		&-1
			background #f9b538
			color #b98628
		&-2
			background #f93865
			color #ab2b49
		&-3
			background #4dea93
			color #35a266
	&--circle
		border-radius 50%
		width 26px
		height 26px
		font-size 16px
	&--square
		padding 0 3px
		border-radius 4px
		font-size 12px
.text
	&--left
		text-align left
	&--center
		text-align center
	&--right
		text-align right
.logo
	width 80%
	padding 17px 10%
	bottom 0px
	//background $sidebarColor
	//padding 24px 10%
	//position absolute
	//border 1px solid darken($sidebarColor, 10%)
.nav
	&--top
		background darken($sidebarColor, 5%)
		color darken($sidebarColor, 35%)
		height 55px
		width 100%
		top 0
		left 0
		position absolute
	&--bottom
		position absolute
		width 100%
		left 0
		background $sidebarColor
		bottom -167px
		transition 0.3s
		.nav--side
			margin-top 0
		&:hover
			bottom 0
			transition 0.3s
	&--side
		margin-top -5px
		width 100%
		ul
			padding 0
			margin 0
			li
				position relative
				list-style none
				.md-button
					@extend .text--left
					font-size 16px
					color darken($sidebarColor, 60%)
					border-radius 0
					margin 0
					width 100%
					text-transform initial
					padding 10px 20px
					i
						vertical-align middle
						margin-right 15px
						color darken($sidebarColor, 25%)
						transition 0.3s
					&:hover
						i
							margin-left 15px
					&.active
						background rgba(158,158,158,0.2)
						i
							margin-left 15px
.search
	margin 0
	padding 9px 0
.content
	margin-top 55px
	overflow-y scroll
.title
	&--main
		margin 0
		padding 6px 0
.portal
	width 100%
	margin -4px 0 0
.user
	border-top 1px solid darken($sidebarColor, 5%)
	padding 10px 20px
	&__image
		border-radius 50%
		width 50px
		height 50px
		display block
		overflow hidden
		position relative
		cursor pointer
		&__photo
			width 100%
		&__hover
			border-radius 50%
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background rgba(0,0,0,0.7)
			text-align center
			font-size 17px
			color #fff
			display table
			opacity 0
			transition 0.3s
			&:hover
				opacity 1
				transition 0.3s
			.material-icons
				display table-cell
				vertical-align middle
	&__info
		margin-left 10px
		margin-top 3px
		background $sidebarColor
		color darken($sidebarColor, 50%)
		&__name
			font-size 18px
			font-weight bold
		&__extra
			font-size 14px