doctype html
html(lang='pt-BR')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title
        
        link(href='dist/angular-material/angular-material.min.css')
        link(href='css/main.css', rel='stylesheet')
        
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body(ng-app="app", ng-cloak)
        section(ng-controller="main")
            h1 404

        script(src='dist/angular/angular.min.js')
        script(src='dist/angular-animate/angular-animate.min.js')
        script(src='dist/angular-aria/angular-aria.min.js')
        script(src='dist/angular-messages/angular-messages.min.js')
        script(src='dist/angular-material/angular-material.min.js')
        script(src="js/app.js")