doctype html
html(lang='pt-BR', ng-app="app")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title
        
        script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")


        link(href='dist/angular-material/angular-material.min.css', rel='stylesheet', type="text/css")
        link(href='dist/animate.css/animate.min.css', rel='stylesheet', type="text/css")
        link(href='css/main.css', rel='stylesheet', type="text/css")

        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body(ng-cloak, ng-controller="main")
        main(layout="column")
            div(layout="row", flex)
                md-sidebar
                    img.logo(src="img/logo1.png")
                    img.portal(src="img/cover1.jpg")
                    nav.nav--side(flex)
                        ul
                            li(ng-mouseenter="hoverNotification1 = true", ng-mouseleave="hoverNotification1 = false")
                                md-button(ng-click="nav=1", ng-class="{'active':nav==1}")
                                    i.material-icons &#xE922;
                                    span Estatísticas
                                .notification.notification--circle.notification--color-1.animated(ng-class="{rubberBand: hoverNotification1}") 3
                            li(ng-mouseenter="hoverNotification2 = true", ng-mouseleave="hoverNotification2 = false")
                                md-button(ng-click="nav=2", ng-class="{'active':nav==2}")
                                    i.material-icons &#xE8D2;
                                    span Conteúdo
                                .notification.notification--circle.notification--color-2.animated(ng-class="{rubberBand: hoverNotification2}") 1
                            li(ng-mouseenter="hoverNotification3 = true", ng-mouseleave="hoverNotification3 = false")
                                md-button(ng-click="nav=3", ng-class="{'active':nav==3}")
                                    i.material-icons &#xE8F1;
                                    span Layout
                                .notification.notification--square.notification--color-3.animated(ng-class="{rubberBand: hoverNotification3}") atualizado
                            li(ng-mouseenter="hoverNotification4 = true", ng-mouseleave="hoverNotification4 = false")
                                md-button(ng-click="nav=4", ng-class="{'active':nav==4}")
                                    i.material-icons &#xE8B8;
                                    span Configurações
                                .notification.notification--square.notification--color-2.animated(ng-class="{rubberBand: hoverNotification4}") novo
                    .nav--bottom
                        .user(layout="row")
                            .user__image
                                .user__image__hover
                                    .material-icons.animated(ng-class="{slideInDown: hoverPhoto}", ng-mouseenter="hoverPhoto = true", ng-mouseleave="hoverPhoto = false") &#xE439;
                                img.user__image__photo(src="img/user.jpg")
                            .user__info(flex)
                                .user__info__name Allan Ferreira
                                .user__info__extra Administrador
                        nav.nav--side(flex,layout="column")
                            ul
                                li
                                    md-button(ng-click="nav=5", ng-class="{'active':nav==5}")
                                        i.material-icons &#xE254;
                                        span Editar Perfil
                                li
                                    md-button(ng-click="nav=6", ng-class="{'active':nav==6}")
                                        i.material-icons &#xE868;
                                        span Reportar Bug
                                li
                                    md-button
                                        i.material-icons &#xE879;
                                        span Sair
                md-content(flex, layout="column")
                    .view(flex, ng-show="nav==1")
                        .nav--top
                            .padding--left.padding--right(layout="row")
                                h1.title--main(flex="90") Estatísticas
                                //md-input-container.md-block.search(flex, md-no-float)
                                    input(placeholder="busca")
                        .content
                            .padding
                                | a

                            //md-tabs(md-dynamic-height, md-border-bottom)
                            md-tab(label="one")
                                md-content
                                    h2 Tab one
                                    div#linechart_material
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            md-tab(label="two")
                                md-content.md-padding
                                    h2 Tab two
                                    p 2
                            md-tab(label="three")
                                md-content.md-padding
                                    h2 Tab three
                                    p 3
                    .view(flex, ng-show="nav==2")
                        .nav--top
                            .padding--left
                                h1.title--main(flex) Conteúdo
                        .content
                            .padding
                                | b
                    .view(flex, ng-show="nav==3")
                        .nav--top
                            .padding--left
                                h1.title--main(flex) Layout
                        .content
                            .padding
                                | c
                    .view(flex, ng-show="nav==4")
                        .nav--top
                            .padding--left
                                h1.title--main(flex) Configurações
                        .content
                            .padding
                                | d
                    .view(flex, ng-show="nav==5")
                        .nav--top
                            .padding--left
                                h1.title--main(flex) Editar Perfil
                        .content
                            .padding
                                | e
                    .view(flex, ng-show="nav==6")
                        .nav--top
                            .padding--left
                                h1.title--main(flex) Reportar Bug
                        .content
                            .padding
                                | f
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src='dist/angular/angular.min.js')
        script(src='dist/angular-animate/angular-animate.min.js')
        script(src='dist/angular-aria/angular-aria.min.js')
        script(src='dist/angular-messages/angular-messages.min.js')
        script(src='dist/angular-route/angular-route.min.js')
        script(src='dist/angular-material/angular-material.min.js')
        script(src="js/app.js")
        script(src='js/main.js')